<div class="container mt-4">
  <div *ngIf="order; else loadingTpl">
    <!-- Reuse order confirmation template -->
    <app-order-confirmation [order]="order"></app-order-confirmation>
    <div class="text-center mt-4">
      <a routerLink = "/orders" class="btn btn-outline-secondary">
        Back to Order History
      </a>
    </div>
  </div>

  <ng-template #loadingTpl>
    <div *ngIf="loading" class="text-center my-5">
      <div class="spinner-border text-primary" role="status"></div>
    </div>
    <div *ngIf="!loading" class="alert alert-warning">Order not found</div>
  </ng-template>
</div>
