<!-- Slider -->
<div id="mainSlider" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://media.istockphoto.com/id/1426606619/video/library-background-learning-books-and-studying-at-school-university-and-college-for-exam-test.jpg?s=640x640&k=20&c=9x81CDaZaN3Qa-2pyy__23F6WiO2wCguVAGH9hCswe4="
        class="d-block w-100"
        alt="Slide 1"
      />
      <div class="carousel-caption d-none d-md-block text-start">
        <h1>Discover Your Next Favorite Book</h1>
        <p>Explore our curated collection of bestsellers and new releases</p>
        <a class="btn btn-warning" href="#">Browse Now</a>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://ik.imagekit.io/panmac/tr:f-auto,w-740,pr-true//bcd02f72-b50c-0179-8b4b-5e44f5340bd4/3de30d99-e32c-4ae3-b480-508a71321acb/the-beauty-of-the-book-an-homage-to-book-cover-finishes-min.jpg"
        class="d-block w-100"
        alt="Slide 2"
      />
      <div class="carousel-caption d-none d-md-block text-start">
        <h1>A World of Knowledge Awaits</h1>
        <p>Dive into books that enrich your mind and soul</p>
        <a class="btn btn-warning" href="#">Start Reading</a>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://uyc.thecenterforsalesstrategy.com/hubfs/21%20Books%20on%20Our%20Shelves%20for%20Personal%20and%20Professional%20Development.png"
        class="d-block w-100"
        alt="Slide 3"
      />
      <div class="carousel-caption d-none d-md-block text-start">
        <h1>Exclusive Deals on Top Books</h1>
        <p>Don’t miss out on amazing discounts</p>
        <a class="btn btn-warning" href="#">Shop Now</a>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#mainSlider"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#mainSlider"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
<app-book-search></app-book-search>
